:root{

    --blue: #2868D5;
    --blue-light: #08AEEA;
    --black-light: #333634;
    --black: #272829;
    --white: #fff;
    --grey-dark: #434343;
    --grey-light: #f7f7f7;
    --grey-light-1: #c5c4c4;
    --grey: #858585;
    --box-shadow: 0 0.5rem .8rem rgba(0,0,0,0.2);
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', Courier, monospace;
    font-size: 1.4rem;
    font-weight: 400;
    overflow-x: hidden;
    
}

.container{
    /* flex: 1; */
    width: 100%;
    max-width: 136.6rem;    
    padding: 0 4rem;
}

.container-full{
    flex: 1;
    padding: 0rem 4rem;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(0);
    background-color: #f7f7f7 !important;
    transition: transform .3s ease-in;
}

#top{
    display: flex;
    justify-content: center;
    background: var(--blue);
    font-size: 1.4rem;
    color: var(--white);
    transition: transform .3s ease-in;
    z-index: 5;
}

.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    flex: 1;
}

.topNav__left{
    display: flex;
    justify-content: space-evenly;
}

.topNav__left--info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topNav__left--info:not(:last-child){
    display: flex;
    padding-right: 2rem;
    justify-content: space-between;
}
.topNav__left--logo{
    margin-right: 1rem
}

.topNav__link:link,
.topNav__link:visited{
    color: var(--white);
    text-decoration: none;
}

.topNav__link:hover{
    color: #dddddd;
}

.topNav__right{
    display: flex;
}

.topNav__right>*:not(:last-child){
    margin-right: 2rem;
}


#header{
    display: flex;
    justify-content: center;
    background-color: var(--white);
    z-index: 6;
    transition: all .3s ease-in;
    position: relative;
}
 
.nav__collapse{
    cursor: pointer;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.nav__search{
    cursor: pointer;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.nav__search--close{
    cursor: pointer;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.nav__close{
    cursor: pointer;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.navbar{
    display: flex;
    width: 100%;
    padding: 1.5rem 4rem;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo:link,
.navbar__logo:visited{
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
}

.navbar__search--form{
    
    flex: 1;
    display: flex;
    justify-content: flex-end;
}



.form__group,
.form-group,
.form-group__full{
    display: flex;
    position: relative;
}

.form-group,
.form-group__full{
    flex-direction: column;
    width: 30rem;
}

.form-group__full{
width: 100%;
}


.form-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-row:not(:last-child) {
    margin-bottom: 2rem; 
}

.form__input,
.form__input{
    padding: .2rem 1.5rem;
    width: 41.6rem;
    margin-right: 1.5rem;
    border: .2rem solid #848383;
    display: flex;
    align-items: center;
    color: #848383;
    justify-content: space-between;
    cursor: pointer;
}

.form__input:active{
    border: .2rem solid var(--black-light);
}

.form-heading {
    margin-bottom: 4rem;
    font-size: 2rem; 
}
  
.form-input {
    font-family: inherit;
    font-size: inherit;
    width: 30rem;
    padding: 1rem 3rem;
    background-color: transparent;
    outline: none;
    border: .05rem solid #000;
    transition: all .3s; 
}



.form-input__full{
    width: 100%;
}

.form-input:not(:last-child) {
    margin-right: 4rem;
}

.form-input:focus {
    border: .05rem solid #55c57a; 
}

.form-input:focus:invalid {
    border: .05rem solid #ff7730; 
}

.form-label {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all .2s;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.form__icon--start {
    position: relative;
    margin-right: -2rem;
    z-index: 5; 
}

.form__icon--end {
    position: relative;
    margin-left: -2rem;
    cursor: pointer;
    z-index: 5; 
}

.form__btn {
    padding: 2rem 4rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: all .2s;
    margin-bottom: 4rem; 
}

.form__btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-0.3rem); 
}

.form__btn:focus {
    transform: translateY(0.3rem); 
}


.btn__search{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    padding: 1rem;
    border: .2rem solid #848383;
    transition: all .2s ease-in;
}

.search__card{
    position: absolute;
    width: 41.6rem;
    max-height: 40rem;
    overflow-y: hidden;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    top: 125%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    transition: all .3s ease-in;
}

.search__card--visible{
    visibility: visible;
    opacity: 1;
}

.search__card input{
    width: 100%;
    padding: .5rem;
    outline: none;
    margin-bottom: 2rem;
    border: .2rem solid var(--blue);
    
    border-radius: .5rem;
}

.search__results{
    width: 100%;
    list-style: none;
    overflow-y: scroll;
}

.search__results--item{
    padding: .5rem;
    cursor: pointer;
}

.search__results--item:hover{
    background-color: #e7e6e6;
}

.search__results--item:active{
    background-color: var(--blue);
    color: #fff;
}

.search__results--active{
    background-color: var(--blue);
    color: #fff;
}

.btn__search:hover{
    background-color: var(--blue);
    color: #fff;
    border: .2rem solid var(--blue);
}

.navbar__list{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    flex: 0 0 45%;
}

.navbar__link,
.navbar__link:link,
.navbar__link:visited{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--black);
}

.navbar__link:hover{
    color: var(--blue);
}

.navbar__item:not(:last-child){
    border-right: .1rem solid #858585;
}

.navbar__item{
    padding: .5rem .5rem
}

#banner{
    position: relative;
    overflow: hidden;
    height: 54.6rem;
}

#banner__sm{
    position: relative;
    overflow: hidden;
    height: 44.6rem;
}

.banner__image {
    width: 100%;
    height: inherit;
    background: url(../images/business-improvements-1024x576.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 1;
}

.banner__overlay{
    position: absolute;
    background-color: var(--black-light);
    opacity: .64;
    height: 100rem;
    width: 100%;
    z-index: 2;
}

.banner__text{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.banner__divider{
    margin-bottom: 4rem;
    align-self: center;
}

.header__main{
    text-align: center;
    font-size: 4.8rem;
    font-weight: bold;
    color: var(--white);
}

.header__sub{
    font-size: 1.8rem;
    color: var(--white);
    width: 70rem;
    text-align: center;
    margin-bottom: 8rem;
}

.banner__buttons{
    display: flex;
    justify-content: center;
}

.banner__buttons > * {
    margin-right: 2rem;
}

.btn,
.btn:link,
.btn:visited{
    text-decoration: none;
    padding: 2rem 4rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in;
    text-align: center;
}

.btn:hover{
    transform: translateY(-.2rem);
}

.btn:focus{
    transform: translateY(0rem);
}

.btn__fill{
    background-color: var(--white);
    border: .4rem solid var(--white);
    color: var(--black);
}

.btn__hollow,
a.btn__hollow{
    background-color: transparent;
    color: var(--white);
    border: .4rem solid var(--white) ;
}

#approach{
    display: flex;
    justify-content: center;
    padding: 8.8rem 19.2rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.approach__card{
    position: relative;
    background-color: var(--white);
    padding: 2rem 8rem;
    box-shadow: var(--box-shadow);
    flex: 0 0 18%;
    text-align: center;
}

.approach__card:not(:last-child){
    margin-right: auto;
}

.approach__card--icon{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 0%;
    top: 50%;
    width: 13.3rem;
    height: 12.6rem;
    background-image: linear-gradient(45deg, #08AEEA, #2868D5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.approach__card--svg{
    width: 4.4rem;
    height: 4.4rem;
}

.approach__card--title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.approach__card--title__header{
    font-size: 1.8rem;
    color: var(--blue);
    margin-bottom: 1.5rem;
}

.underline{
    border-bottom: .1rem solid var(--blue);
    width: 70%;
}

.approach__card--body{
    margin-bottom: 4rem;
}

.approach__card--btn,
.approach__card--btn:link,
.approach__card--btn:visited
{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    color: var(--white);
    background-color: var(--blue);
    transition: all .2s ease-in;
}

.approach__card--footer{
    margin-bottom: 2rem;
    height: max-content;
}

.approach__card--btn:hover{
    background-color: var(--blue-light);
}

#clients{
    position: relative;

    width: 100%;
    background-size: cover;
    background-image: url('../images/photo-1495232416988-d26458b7a5fb.jpg');
}

.testimonial__overlay{
    position: absolute;
    background-color: #1D1E30;
    opacity: .96;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#clients .content{
    position: relative;
    z-index: 3;
    padding: 4rem 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header__secondary{
    color: var(--white);
    font-size: 2.8rem;
    text-align: center;
}

.header__tertiary{
    font-size: 2.0rem;
    text-align: left;
    margin-bottom: 1rem;
}

.job{
    width: 70%;
    line-height: 150%;
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

.testimonial__header{
    margin-bottom: 12rem;
}

.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.testimonial__card{
    position: relative;
    border: .3rem solid var(--white);
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial>*:not(:last-child){
    margin-right: 8rem;
}

.testimonial__card--img{
    position: absolute;
    width: 12.4rem;
    height: 12.4rem;
    border-radius: 50%;
    top: -4rem;
    
}

.testimonial__card--name{
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-top: 8rem;
    margin-bottom: 2rem;
    
}

.testimonial__card--text{
    color: var(--white);
    width: 18rem;
    text-align: center;
    font-style: italic;
    
}

.dots__list{
    display: flex;
    list-style: none;
   
}

.dots__items:not(:last-child){
    margin-right: 1rem;
}

.dots{
    border-radius: 50%;
    width: 1.5rem;
    opacity: 40%;
    height: 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    transform: translateX(0);
    transition: all .3s ease-in;
}

.dots__active{
    background-color: var(--white);
    opacity: 100%;
}

#contact{
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.contact__box{
    position: relative;
    height: 30rem;
    width: 30rem;
    background-color: #f7f7f7;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 52.2rem;
    width: 117.4rem;
    padding: 2rem 0;
}

#contact h2{
    color: var(--black);
}

.contact__box .content{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact__text{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.contact__header{
    margin-bottom: 4rem;
}

.contact__btn{
    background-color: var(--blue);
    color: #fff;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__btn--text{
    margin-right: 2rem;
}

#appendix{
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.appendix__card{
    width: 39.6rem;
    padding: 2rem 2rem;
    border: .2rem solid #848383;
}

.appendix__card:not(:last-child){
    margin-right: 4rem;
}

.appendix__card--icon{
    margin-bottom: 4rem;
}

.appendix__card--title{
    font-size: 2.4rem;
    width: 25rem;
    height: 10rem;
    margin-bottom: 4rem;
}

.appendix__card--text{
    font-size: 1.6rem;
    margin-bottom: 8rem;
}

#footer{
    background-color: var(--grey-dark);
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

.footer__container{
    display: flex;
    padding: 0 8rem;
}

.footer__sections{
    padding: 4rem 2rem;
    flex: 1;
    color: var(--white);
}

.footer__header{
    margin-bottom: 2rem;
    font-size: 2.0rem;
}

.footer__title{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--blue);
}

.footer__text{
    color: var(--grey-light-1);
    line-height: 2.5rem;
}

.footer__list{
    list-style: none;
}

.footer__list--item:not(:last-child) {
    margin-bottom: 1rem;
}

.footer__list--link{
    color: var(--grey-light-1);
    font-size: 1.8rem;
    text-transform: capitalize;
}

.footer__list--link:hover{
    color: var(--blue);
    
}

.form__newsletter{
    margin-bottom: 2rem;
}

.form__input--lg{
    outline: none;
    padding: 1.5rem 1rem;
    width: 95%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

#newsletter-submit{
    color: var(--white);
    background-color: var(--blue);
    
    font-size: 1.6rem;
}

.contact__info{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.contact__info--icon{
    font-size: 2rem;
    margin-right: 1rem;
}

.contact__info--title{
    text-transform: uppercase;
}

.contact__info--text{
    color: var(--grey-light-1);
}

#tiles{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: -4rem;
    /* margin-bottom: 4rem; */
}

.tiles__card{
    width: 201.03px;
    height: 127.08px;
    background-color: white;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tiles__icon{
    fill: var(--blue);
    width: 36px;
    height: 36px;
}

.tiles__active{
    background-color: var(--blue);
    color: #fff;
}

.tiles__card{
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all .3s ease-in;
}

.tiles__card:hover{
    background-color: var(--blue);
}

.tiles__card:focus{
    background-color: var(--blue-light);
}

.tiles__card:hover .tiles__icon,
.tiles__card:hover .tiles__text{
    color: #fff;
}



.tiles__card:not(:last-child){
    margin-right: 4rem;
}

.tiles__icon--container{
    width: 36px;
    height: 36px;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center
}

.tiles__path{
    fill: currentColor;
}

#briefing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12rem;
    margin-top: 6rem;
}

.briefing__text{
    width: 70%;
    margin-bottom: 4rem;
    line-height: 150%;
    font-size: 1.6rem;
}

.offerings{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.offerings:not(:last-child){
    margin-bottom: 4rem;
}

.offerings__item{
    flex: 0 0 30%;
}

.offerings__title--container{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    
}

.offerings__title--icon{
    margin-right: 1rem;
}

.offerings__title{
    color: var(--blue);
    font-size: 1.8rem;
}

.survey__header{
    color: #000000;
    margin-bottom: 2rem;
    width: 70%;
    text-align: left;
}

@media only screen and (max-width: 1700px){
    #approach{
        padding: 8.8rem 13.2rem;
    }

    .testimonial>*:not(:last-child){
        margin-right: 4rem;
    }
}

@media only screen and (max-width: 1600px){
    .navbar__search--form {
        justify-content: center;
    }

    #appendix{
        padding: 0rem 2rem;
    }

    .form__input {
        width: 35.6rem;
    }

    .search__card{
        width: 35.6rem;
    }

    .navbar__list{
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 1500px){
    html{
        font-size: 56.25%;
    }

    .banner__divider{
        width: 68rem;
    }
    
    .appendix__card--title{
        margin-bottom: 0;
    }
    
    .appendix__card--text {
        margin-bottom: 4rem;
    }

    .testimonial__card {
        padding: 4rem 4rem;
    }
}

@media only screen and (max-width: 1300px){
    html{
        font-size: 53.6%;
    }

    #approach{
        padding: 8.8rem 6rem;
    }

    .approach__card:first-child{
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1240px){

    .tiles__card{
        width: 140px;
        height: 90px;
    }

    .tiles__icon{
        width: 22px;
        height: 22px;
    }

    .navbar__list{
        display: none;
    }

    .navbar__item:not(:last-child) {
        border-right: none;
    }

    .navbar{
        padding: 1.5rem 0;
    }

    .nav__collapse{
        display: flex;
    }

    .navbar__list{
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: var(--blue);
    }

    .navbar__item{
        padding: 2rem 4rem;
    }

    .navbar__item:not(:last-child){
        margin-right: 0;
    }

    .navbar__link,
    .navbar__link:link,
    .navbar__link:visited
    {
        color: #fff;

    }

    .navbar__logo{
        margin-left: 4rem;
    }

    .form__input {
        width: 41.6rem;
    }

    .search__card{
        width: 41.6rem;
    }
}

@media only screen and (max-width: 1240px){
    .appendix__card:not(:last-child) {
        margin-right: 2.5rem;
    }

    #approach{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .approach__card:first-child {
        margin-left: 0;
    }
    .approach__card:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4rem;
    }
    

    .approach__card{
        margin: 0; 
        width: 40%;
    }
}

@media only screen and (max-width: 1150px){
    .testimonial__icon--left{
        display: none;
    }
    .testimonial__icon--right{
        display: none;
    }

    .testimonial>*:not(:last-child) {
        margin-right: 2rem;
    }

    .testimonial>*:nth-last-child(2){
        margin-right: 0;
    }


}



@media only screen and (max-width: 915px){
    .testimonial {
        justify-content: flex-start;
        width: 722px;
        overflow-x: hidden;
        overflow-y: visible;
        padding: 4rem 0;
    }

    .tiles__icon--container{
        margin-bottom: 0;
    }

    .tiles__card{
        width: 120px;
        height: 90px;
        padding: .5rem 0;
    }

    .tiles__card:not(:last-child) {
        margin-right: 2rem;
    }

    .tiles__icon{
        width: 18px;
        height: 18px;
    }

    .tiles__text{
        font-size: 11px
    }
}

@media only screen and (max-width: 800px){

    .form-row{
        width: 40rem;
    }

    .form-group{
        width: 100%;
    }

    .form-group:not(:last-child) {
        margin-bottom: 2rem;
    }

    .form-input:not(:last-child) {
        width: 100%;
    }

    .footer__container{
        flex-direction: column;
    }

    .navbar__search--form{
        justify-content: center;
        display: none;
        background-color: #fff;    
    }

    .offerings{
        flex-direction: column
    }

    .offerings__item:not(:last-child){
        margin-bottom: 4rem
    }
    
    .search__card{
        width: 100%
    }
    
    .form__group{
        width: 100%
    }
    
    .form__input{
        width: 100%
    }

    
    .nav__search{
        display: flex;
    }
}

@media only screen and (max-width: 750px){
    .testimonial{
        width: 487px;
    }
}

@media only screen and (max-width: 699px){

    .approach__card{
        margin: 0; 
        width: 60%;
    }

    .tiles__card{
        width: 80px;
        height: 50px;
    }

    .tiles__card:not(:last-child) {
        margin-right: 1rem;
    }

    .tiles__icon{
        width: 14px;
        height: 14px;
    }

    .tiles__text{
        font-size: 10px
    }
}

@media only screen and (max-width: 650px){
    .header__main{
        font-size: 4.2rem;
    }
    
    .banner__divider{
        width: 58rem;
    }

    .header__sub{
        width: 60rem;
    }

    .approach__card{
        
        margin-left: 4rem;
    }

    .approach__card:first-child {
        margin-left: 4rem;
    }

    #clients .content {
        padding: 4rem 2rem;
    }
}

@media only screen and (max-width: 550px){
    .approach__card--svg{
        width: 3.5rem;
        height: 3.5rem;
    }

    .approach__card--icon{
        width: 11.3rem;
        height: 9.6rem
    }

    
}

@media only screen and (max-width: 500px){

    .form-row{
        width: 30rem;
    }

    .header__sub{
        font-size: 1.4rem;
        width: 50rem;
    }

    .header__main{
        font-size: 3.8rem;
        align-self: center;
    }
    
    .banner__divider{
        width: 44rem;
    }

    .testimonial{
        width: 229px;
    }

    .header__secondary{
        font-size: 2.4rem;
    }

    .header__main{
        font-size: 3.2rem;
    }

    .approach__card--title{
        margin-top: 8rem;
    }

    .approach__card--icon{
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 6%;
    }
    .approach__card:first-child {
        margin-left: 0;
    }

    .approach__card{
        width: 80%;
        margin-left: 0;
    }

}

@media only screen and (max-width: 450px){

    .form-row{
        width: 20rem;
    }

    .container{
        padding: 0;
    }

    #top{
        display: none
    }

    .banner__buttons{
        flex-direction: column;
    }

    .banner__buttons > * {
        margin-right: 0rem;
    }

    .banner__buttons > *:not(:last-child) {
        margin-bottom: 2rem;
    }

    .header__sub{
        width: 40rem;
        margin-bottom: 4rem;
    }

    .topNav{
        flex-direction: column;
    }

    .topNav__left{
        flex-direction: column;
    }

    .topNav__left--info{
        align-self: center;
        margin-bottom: 2rem;
    }


    .tiles__card{
        
        padding: .5rem .5rem;
    }


    .tiles__icon{
        width: 12px;
        height: 12px;
    }

    .tiles__text{
        font-size: 8px
    }
}

@media only screen and (max-width: 400px){
    .btn,
    .btn:link{
        font-size: 1.4rem;
    }

    .banner__divider{
        width: 34rem;
    }

    .header__main{
        font-size: 2.8rem;
        width: 100%;
    }

    .header__sub{
        width: 30rem;
    }

    .header__secondary{
        font-size: 2rem;
    }

    .navbar__logo:link,
    .navbar__logo:visited{
        font-size: 1.8rem
    }
     
    .nav__collapse{
        width: 12px;
        height: 12px;
    }
    
    .nav__close{
        width: 12px;
        height: 12px;
    }

    .nav__search{
        width: 12px;
        height: 12px;
    }
    
    .nav__search--close{
        width: 12px;
        height: 12px;
    }

    .btn__search{
        font-size: 11px;
    }

    .form__input span{
        font-size: 11px
    }

    .tiles__card{
        
        padding: .2rem .2rem;
    }

    .tiles__card:not(:last-child){
        margin-right: 0;
    }


    .tiles__icon{
        width: 12px;
        height: 12px;
    }

    .tiles__text{
        font-size: 8px
    }
}


@media only screen and (max-width: 350px){

    .form-row{
        width: 15rem;
    }

    .approach__card--footer{
        width: 100%;
    }

    #approach{
        padding: 8.8rem 0;
    }

    .approach__card{
        padding: 2rem 0;
        width: 100%;
    }

    .approach__card--body{
        padding: 0 1rem;
    }

    .footer__container{
        padding: 0 4rem;
    }

    
}